# Compression files
*.zip
*.tar
*.tar.gz
*.rar

# Cache
__pycache__

# Dataset files
data_object_image_2
data_object_label_2
training
testing

# images
*.png
*.jpg
*.jpeg

# Feature files
features
CSENdata-2D
competing_splits

# Model / weights
weights
*.h5
results
